 #part{

width:999px;
height:550px;





}
#header{

width:999px;
height:100px;


}

#subheader{

width:200px;
height:40px;
margin:-38px 550px;

float:left;
}

	



#body{
height:440px;
width:990px;
background:#00aaaa;
float:left;
border:1px solid;
}




#last{
height:50px;
width:999px;

float:left;
}

