#part{

width:999px;
height:2000px;





}
#header{

width:999px;
height:100px;


}

#subheader{

width:200px;
height:40px;
margin:-38px 550px;

float:left;
}
#login{
	width:220px;
	height:55px;
	float:right;
	margin-top:-95px;
	margin-right:30px;
	
}

#menu{
width:150px;
height:1800px;

float:right;
}
#today{
	text-decoration:none;
	font-size:18px;
	color:black;
	}
#today:hover{
	text-decoration:none;
	font-size:12px;
	color:blue;
}
#yesterday{text-decoration:none;
	font-size:18px;	
	color:black;
	}
	#yesterday:hover{
	text-decoration:none;
	font-size:12px;
	color:blue;
}
#last7days{text-decoration:none;
	font-size:18px;	
	color:black;
	}
#last7days:hover{
	text-decoration:none;
	font-size:12px;
	color:blue;
}
#last30days{text-decoration:none;
	font-size:18px;
 color:black;	
}
#last30days:hover{
	text-decoration:none;
	font-size:12px;
	color:blue;
}

#body{
height:1790px;
width:839px;
background:#00aaaa;
float:left;
border:1px solid;
}

#search{
	font-size:22px;
	
	border-radius:10px;

}
#ssearch{
	border-height:7px;
	border-width:7px;
	border-radius:7px;
}




#last{
height:100px;
width:999px;

float:left;
}

